.container {
    min-height: 70dvh;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
}

.container>* {
    flex: 1;
}

.title {
    font-weight: bold;
    font-size: 48pt;
    text-align: right;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    .content {
        gap: 16px;
    }
}