.container {
    min-height: 85dvh;
    height: max-content;
    padding: 64px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.title {
    font-weight: bold;
    font-size: 48pt;
    color: var(--text-primary);
}

.list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    color: var(--text-gray-light);
}

@media (max-width: 950px) {
    .container {
        text-align: center;
        gap: 10px;
    }

    .content {
        flex-direction: column;
        gap: 40px;
    }
}