@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --dark: #0C0A09;
    --gray: #79716B;
    --gray-light: #b4b4b4;
    --primary: #2B7FFF; */

    --bg-primary: #0C0A09;
    --bg-secondary: #1C1917;

    --bg-button: #2B7FFF;
    
    --text: #fff;
    --text-gray: #79716B;
    --text-gray-light: #b4b4b4;
    --text-primary: #2B7FFF;
    --text-contrast: #0C0A09;
    
    --link-primary: #155DFC;
    --link-primary-hover: #51A2FF;

    --shadow: #2b80ff;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-primary);
    color: var(--text);
    padding: 40px;
    line-height: 1.5;
    font-size: 12pt;
}

#root {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (max-width: 950px) {
    body {
        font-size: 10pt;
    }
}